[submodule "seba_charts"]
	path = src/use_cases/seba_on_arm/src_repo/seba_charts
	url = https://github.com/iecedge/seba_charts.git
[submodule "kafka-exporter"]
	path = src/use_cases/seba_on_arm/src_repo/kafka-exporter
	url = https://github.com/iecedge/kafka_exporter.git
[submodule "cp-docker-images"]
	path = src/use_cases/seba_on_arm/src_repo/cp-docker-images
	url = https://github.com/iecedge/cp-docker-images.git
	branch = 4.1.2-post-arm64v8
[submodule "kafka-prometheus-jmx-exporter"]
	path = src/use_cases/seba_on_arm/src_repo/kafka-prometheus-jmx-exporter
	url = https://github.com/iecedge/dockerfiles.git
	branch = misc-dockerfiles
[submodule "contrib"]
	path = src/use_cases/seba_on_arm/src_repo/contrib
	url = https://github.com/iecedge/contrib.git
[submodule "zookeeper_exporter"]
	path = src/use_cases/seba_on_arm/src_repo/zookeeper_exporter
	url = https://github.com/iecedge/zookeeper_exporter.git
	branch = v1.1.2-arm64v8
[submodule "jmx-prometheus-exporter"]
	path = src/use_cases/seba_on_arm/src_repo/jmx-prometheus-exporter
	url = https://github.com/iecedge/docker-jmx-prometheus-exporter.git
[submodule "xos"]
	path = src/use_cases/seba_on_arm/src_repo/xos
	url = https://github.com/iecedge/xos.git
	branch = 2.1.25
[submodule "xos-tosca"]
	path = src/use_cases/seba_on_arm/src_repo/xos-tosca
	url = https://github.com/iecedge/xos-tosca.git
	branch = 1.1.6
[submodule "cord-tester"]
	path = src/use_cases/seba_on_arm/src_repo/cord-tester
	url = https://github.com/iecedge/cord-tester.git
[submodule "xos-gui"]
	path = src/use_cases/seba_on_arm/src_repo/xos-gui
	url = https://github.com/iecedge/xos-gui.git
[submodule "xos-ws"]
	path = src/use_cases/seba_on_arm/src_repo/xos-ws
	url = https://github.com/iecedge/xos-rest-gw.git
[submodule "tosca-loader"]
	path = src/use_cases/seba_on_arm/src_repo/tosca-loader
	url = https://github.com/iecedge/xos-tosca.git
	branch = 1.1.5
[submodule "kubernetes-synchronizer"]
	path = src/use_cases/seba_on_arm/src_repo/kubernetes-synchronizer
	url = https://github.com/iecedge/cord-kubernetes-service.git
	branch = 2.1.25
[submodule "sadis-server"]
	path = src/use_cases/seba_on_arm/src_repo/sadis-server
	url = https://github.com/iecedge/sadis-server.git
